*{
    margin: 0;
}
:root {
    --primary-color: #c7bbf2;   /* Purple */
    --secondary-color: #b3d2e3; /* Blue */
    --text-color: #333333; /* Dark Gray */
    --note1-color: #a0c7e0; /* Light blue */
    --note2-color: #f7e6dc; /* Peach Fuzz */
    --note3-color: #def0f9; /* lighter blue */
    --note4-color: #e6e4f9; /* Light Purple */
    --background-color: #F5F3FF; /* Almost White with a Purple Tint */
}

.header{
    background: linear-gradient(to right, var(--background-color,--note3-color));
}

#logo-main{
    width: 20em;
    background: none;
}

.top-main{
    display: flex;
}

.top-main li{
    display: inline-block;
}

.main-page{
    margin-right: 20px;
}
